.container{
  display: flex;
  flex-flow: row wrap;
  border: 5px solid black;
  margin: 3rem;
  height: 85vh;
  justify-content:center;
  align-items:center;
  gap:4vw;
}
img{
  width:20vw;
  border:5px solid black;
}
h1{
  font-size:3vw;
}